/* light background colour*/
$lightBgCol: #A6D49F;
/*darker background colour*/
$darkBgCol:#9cb380;
/* text colour*/
$stdTextCol:#522a27;
/*title colour*/
$titleCol:#c73e1d;
/*highlight colour*/
$highlightCol:#c59849;
/*shadow colour*/
$shadowCol: #333;